/* Fonts Import  */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap');

/* restet style  */
*::after,
*::before,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global Variables */
:root {
    /* Colors */
    --primary-color: #f5e5bc;
    --secondary-color: #f5bf36;
    /*  Typography  */
    --text-color: #202124;
    --main-font-family: 'Edu NSW ACT Foundation',
        cursive;
    --font-regular: 400;
    --font-medium: 500;
    --font-semiBold: 600;
    --font-bold: 700;
}

.dark {
    --primary-color: #1d1d4d;
    --secondary-color: #363c4d;
    /*Typography*/
    --text-color: #e8ecf8;
}


html {
    font-size: 17px;
}

body {
    font-family: var(--main-font-family);
    color: var(--text-color);
    background-color: var(--primary-color);
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: linear .4s;
    -webkit-transition: linear .4s;
    -moz-transition: linear .4s;
    -ms-transition: linear .4s;
    -o-transition: linear .4s;
}

/* heading */
.heading {
    text-align: center;
    margin: 3rem 0;
    font-weight: var(--font-bold);
    font-size: 40px;
}

/* container   */

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 22px;
    background-color: var(--secondary-color);
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.container::-webkit-scrollbar {
    /* to remove the scroll bar  */
    width: initial;
}



.item {
    flex: 0 0 100%;
    scroll-padding: 30px;
    scroll-snap-align: center;
    background-color: var(--primary-color);
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}


.item:nth-child(2) {
    margin-left: 3rem;
}

.item:nth-child(3) {
    margin: 0 3rem;
}


.item__image {
    width: 100%;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

.item__title {
    font-size: 30px;
    font-weight: var(--font-bold);
    margin: 1rem 0;
    text-align: center;
}

.item__description {
    font-size: 22px;
    margin-bottom: 1rem;
    text-align: center;

}

.icons {
    display: flex;
    font-size: 2rem;
    color: var(--text-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.icons>i {
    cursor: pointer;
    display: none;
}

i.show {
    display: block;
}



/* Containe Style for Mobile  */
@media screen and (max-width:1000px) {

    .container {
        width: 95%;
    }

    .item__description {
        width: 90%;
    }
}